%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin button($bg-color, $pl-r, $pt-b) {
  background-color: $bg-color;
  padding: $pt-b $pl-r;
  color: #fff;
  border-radius: 5px;
}
.button--axent {
  @include button(green, 20px, 10px);
  margin: 0 auto;
   position: relative;
    z-index: 100;
}
/*.button{
    position: relative;
    z-index: 100;
    display: block;
    padding: 28px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: transparent;
}
.button--axent{
    @extend .button;
background-color: yellow;
}

.button--base{
    @extend .button;
    background-color: aqua;
}*/
