.main-pretitle{
    font-family: 'ubuntu', sans-serif;
    line-height: 1.2;
    font-weight: 300;
    color: $pre-title-color;
  

}
header{
   position: fixed;
   top:0;
   left:50%;
   transform: translateX(-50%);
 padding-bottom: 92px ;
 padding-top: 72px;
 background-color: #fff;
 border-bottom: 2px solid black;
}
.main-header{
 
 font-weight: 300;
 line-height: 1.2;
}
.main{
   margin-top: 180px;
}
.btn{
    background-color: transparent;
    font-size: 14px;
    border: 1px solid $text-color; 
    padding: 20px 48px;/* 20-веръний=нижний  48=левый=правый*/
    display: block;
    margin-right: auto;
    margin-left: auto;
 /*margin: 0 auto; центрует блоковый елемент, тоже самое что и верхний пример*/
 margin-bottom: 66px;
}
.btn:hover,
.btn:focus{
   background-color:$text-color;
   color: var(--white);
}
.main-text{
    font-family: 'Playfair Display', sans-serif;
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
}

 .main-list{
    display:flex;
    flex-wrap: wrap; /*переносит на другую строку*/
    justify-content: space-between;
    margin-bottom: 80px;
 }
 .main-item{
    width: 420px;
    margin-bottom: 125px;
 }
 .main-img{
    display: block;
    width: 420px;
    margin-bottom: 62px;
 }
 .main-item:last-child,
 .main-item:nth-child(7){
    margin-bottom: 0p;
 }
 
 .main-pretitle{
margin-bottom: 32px;
 }
 .main-header{
 margin-bottom: 40px;
 }
