.navigation-link {
  color: var(--text-color);
  text-transform: uppercase;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--axent);
}
.navigation-list {
  display: flex;
  justify-content: center;
}
.navigation-item {
  margin-right: 100px;
}
.navigation-item:last-child {
  margin-right: 0;
}
